*,
*::before,
*::after {
    box-sizing: border-box;
}

/* navbar styling */
.bg-custom {
    background-color: #06113C;
    color: white;
    text-align: center;
    padding: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
}

/* body styling */
body {
    margin: 0;
    color: #edf3ff;
    background: #c8c8c8;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxILNNnoHqJA96SNXj1SAvYRjgyNG2gkr-fA&usqp=CAU) fixed;
    /* set a fixed background from google */
    background-size: cover;
    place-items: center;
    font: 600 16px/25px;
}

#main {
    text-align: center;
}

/* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
    color: #06113C;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.progress {
    background-color: #06113C;
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #dcdcdc;
}

.progress-step-active {
    background-color: #06113C;
    color: #f3f3f3;
}

/* form styling */
form {
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
}

.form-step {
    margin-top: 5rem;
    display: none;
}

.form-step-active {
    display: block;
}

/* input styling */
label {
    display: block;
    margin: 0.25rem;
}

input[type=text],
[type=number],
[type=email],
[type=date] {
    background-color: rgba(34, 32, 32, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
    height: 3rem;
}

input[type=date] {
    padding: 1.5rem;
}

.input-group {
    margin: 0.75rem 0;
}

/* removed arrows from number input */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.form-check-input {
    margin-right: 0.75rem;
}

select {
    max-width: 50%;
}

/* wrap styling */
.reg-wrap {
    width: 100%;
    margin: auto;
    padding-bottom: 2rem;
    max-width: 80%;
    position: relative;
    background-size: cover;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.row {
    margin-top: 2rem;
}

/* button styling */

.btn {
    padding: 0.5rem;
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
}

.btn,
.btn-group {
    margin: 2rem;
}

/* content styling */
.ophead {
    font-size: 1.5rem;
}

.opchead {
    font-size: 1.25rem;
}

/* media query for screen adjustments */

@media only screen and (max-width:480px) {
    .reg-wrap {
        width: 95%;
    }

    form {
        width: 100%;
    }

    .progress-step::after {
        content: attr(data-title);
        content: none;
    }
}


/* success page */

#success {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem;
}