*,
*::before,
*::after {
    box-sizing: border-box;
}

/* html {
    background-color: #323232;
} */

/* navbar styling */
.bg-custom {
    background-color: #06113C;
    color: white;
    text-align: center;
    padding: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
}

/* body styling */
body {
    margin: 0;
    background-color: black;
    /* set a fixed background from google */
    background-size: cover;
    place-items: center;
    font: 600 16px/25px;
}

#main {
    text-align: center;
}

.reg-wrap,
#success,
#contact {
    background-color: black;
    color: white;
}

/* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
    color: #06113C;
}

.progressbar::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}


.progress-step {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #dcdcdc;
}

.progress-step-active {
    background-color: #06113C;
    color: #f3f3f3;
}

/* form styling */
form {
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
}

.form-step {
    margin-top: 5rem;
    display: none;
}

.form-step-active {
    display: block;
}

/* input styling */
label {
    display: block;
    margin: 0.25rem;
}

input[type=text],
[type=number],
[type=email],
[type=date] {
    background-color: rgba(51, 48, 48, 0.5);
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    width: 80%;
    height: 3rem;
}

input[type=date] {
    padding: 1.5rem;
}

.input-group {
    margin: 0.75rem 0;
}

/* removed arrows from number input */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.form-check-input {
    margin-right: 0.75rem;
}

select {
    max-width: 50%;
}


.row {
    margin-top: 2rem;
}

/* button styling */

.btn {
    padding: 0.5rem;
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
}

.btn,
.btn-group {
    margin: 2rem;
    margin-left: 0%;
    text-align: center;
}

/* content styling */
.ophead {
    font-size: 1.5rem;
}

.opchead {
    font-size: 1.25rem;
}

/* contact section styling */
#contact {
    margin-top: 0%;
    padding-top: 1.5rem;
}

/* footer section styling */
#footer {
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e9e8e5;
    padding-top: 20px;
    height: 60px;
    text-align: center;
}

/* media query for screen adjustments */


@media screen and (max-width:800px) {
    form {
        width: 100%;
        position: relative;
    }

    .progress-step::after {
        content: attr(data-title);
        content: none;
    }

    .btn {
        padding: 0.25rem;
        margin: 0.5rem;
    }

    .btn-group {
        margin-left: 0%;
    }
}


/* success page */

#success {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem;
    max-height: 80%;
}

.butn {
    text-align: center;
}

.btn-home {
    background-color: #06113C;
    color: #dcdcdc;
}